.headTop{
	background-image: url("/img/volcan.jpg");
	background-color: #C1C1C1;
}
body{
	background-image: url("/img/volcan.jpg");
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

.hrstyle1{
	border-top: 1px solid #8c8b8b;
}

.hrstyle13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.center{
	text-align: center;
}

.errorType{
	color: red;
	text-align: center;
}